* {
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 21px;
      color: white;
      line-height: 40pt;
      overflow-x: hidden;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      position: relative;
      min-height: 100%;
      height: 100%;
      background-image: url('../images/giphy.gif');
      background-size: cover;
    padding:0;
    margin:0;

   }
  
   #main {
      margin: 0 auto;
      text-align: center;
      position: relative;
      top: 26%;
  }

  
  
nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 76vh;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

/*Create a horizontal list with spacing*/
li {
    vertical-align: top;
    margin-right:1px;
}
    
    a {
      color: white;
      -webkit-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s;
      text-decoration: none;
    }
  
    
    img {
      max-width: 100%;
    }
  
  
  @media screen and (max-width: 650px) {
  
      .resp-iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 95%;
          height: 100%;
          border: 0;
      }
  
      .iframe {
          padding-top: 56.25%;
      }
  
      #main {
          top: 9%;
          left:  0%;
      }
  }
  
  
    
    .video__projects--section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 1.5em;
      width: 45%;
    }
    
    @media screen and (max-width: 650px) {
      .video__projects--section {
        width: 100%;
      }
    }
    
    .video__projects img {
      margin-top: 2em;
    }
    
    img.image1 {
      vertical-align: top;
      display: inline-block;
       /* To horizontally center images and caption */
      text-align: center;
      width: 61%;
      height: auto;
    }
    
    
    .caption {
      display: block;
      padding: 20px 0;
      color: white;
      width: 100%;
      letter-spacing: 2px;
    }
    
    .pictureFrame:hover {
      cursor: pointer;
    }
    
  
  
    .fa-instagram::before {
      content: "\f16d";
      margin: 1.95em;
  }